{{#partial "content"}}
    {{#if endangered}}
        <p class="text-center">This animal is in danger of extinction!</p>
        {{endangered.health}}
        {{endangered.age}}
        <p class="text-center">Preserve and protect the Fauna.</p>
    {{else}}
        <p class="text-center">This animal is not endangered! Preserve and protect the Fauna.</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}