body{
background-image: url("/images/fox.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: top;
height: 100vh;
position: fixed;
}

ul{
list-style-type: none;
display: flex;
}
a{
font-color: white;
margin: 0 2%
text-align: center;
}