{{#partial "content"}}
    <section>
        <div class="row">
            <div class="col-sm-12">
                <div class="card bg-transparent mb-2">
                    <div class="card-body">
                        <h5 class="card-title text-center">Did you know?</h5>
                        <p class="card-text text-center">Wildlife population sizes dropped by two thirds since 1970!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        {{#if animals}}
            <h4>Here are some of the animals that have been identified to exist in the <i>Douglas Fir forest.</i></h4>
            {{#each animals}}
                <p>{{id}}. {{animalName}}</p> Click <a href="animals/{{id}}">here</a> for more details.
            {{/each}}
        {{else}}
            <h4>Hi, Ranger! Have you identified an animal in <i>Douglas Fir forest</i>? Add it <a href="/animals/all/new">here.</a> </h4>
        {{/if}}

    </section>
{{/partial}}

{{> layout.hbs}}