<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}D Fir{{/block}}</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
{{#block "body"}}
    <nav>
        <ul>
            <li><a href="/">D Fir</a> </li>
            <li><a href="/animals/all/new">Add an animal</a></li>
            <li><a href="/animals/endangered/new">Add an endangered animal</a></li>
            <li><a href="/animals">See all Animals</a> </li>
            <li><a href="/animals/endangered/all">See all endangered animals</a></li>
            <li><a href="/sightings/new">Add a new sighting</a></li>
            <li><a href="/sightings">All sightings</a></li>
<!--            <li><a href="/squad/all">Show all Sightings</a> </li>-->
        </ul>
    </nav>
    <h3 class="flier">Save our animals! Protect the diversity! Save our existence!</h3>
    <section id="banner">
        {{#block "content"}}

        {{/block}}
    </section>
    <section id="action">
        {{#block "action"}}

        {{/block}}
    </section>
    {{#block "footer"}}

    {{/block}}
{{/block}}
</body>

</html>